/**
 * 此文件定义公共的且基础的样式
 */

/*定义margin基础属性*/
.m0 { margin: 0 !important; }
.ml0 { margin-left: 0 !important; }
.mr0 { margin-right: 0 !important; }
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.m-1{margin: 1px !important;}
.m-2{margin: 2px !important;}
.m-3{margin: 3px !important;}
.m-4{margin: 4px !important;}
.m-5  { margin: 5px !important; }
.ml-5 { margin-left: 5px !important; }
.mr-5 { margin-right: 5px !important; }
.mt-5 { margin-top: 5px !important; }
.mb-5 { margin-bottom: 5px !important; }
.m  { margin: 10px !important; }
.ml { margin-left: 10px !important; }
.mr { margin-right: 10px !important; }
.mt { margin-top: 10px !important; }
.mb { margin-bottom: 10px !important; }
.m-15  { margin: 15px !important; }
.ml-15 { margin-left: 15px !important; }
.mr-15 { margin-right: 15px !important; }
.mt-15 { margin-top: 15px !important; }
.mb-15 { margin-bottom: 15px !important; }
.m-20  { margin: 20px !important; }
.ml-20 { margin-left: 20px !important; }
.mr-20 { margin-right: 20px !important; }
.mt-20 { margin-top: 20px !important; }
.mb-20 { margin-bottom: 20px !important; }

/*定义padding基础属性*/
.p0 { padding: 0 !important; }
.pl0 { padding-left: 0 !important; }
.pr0 { padding-right: 0 !important; }
.pt0 { padding-top: 0 !important; }
.pb0 { padding-bottom: 0 !important; }
.p-1{padding: 1px !important;}
.p-2{padding: 2px !important;}
.p-3{padding: 3px !important;}
.p-4{padding: 4px !important;}
.p-5  { padding: 5px !important; }
.pl-5 { padding-left: 5px !important; }
.pr-5 { padding-right: 5px !important; }
.pt-5 { padding-top: 5px !important; }
.pb-5 { padding-bottom: 5px !important; }
.p  { padding: 10px !important; }
.pl { padding-left: 10px !important; }
.pr { padding-right: 10px !important; }
.pt { padding-top: 10px !important; }
.pb { padding-bottom: 10px !important; }
.p-15  { padding: 15px !important; }
.pl-15 { padding-left: 15px !important; }
.pr-15 { padding-right: 15px !important; }
.pt-15 { padding-top: 15px !important; }
.pt-30 { padding-top: 30px !important; }
.pb-15 { padding-bottom: 15px !important; }
.p-20  { padding: 20px !important; }
.pl-20 { padding-left: 20px !important; }
.pr-20 { padding-right: 20px !important; }
.pt-20 { padding-top: 20px !important; }
.pb-20 { padding-bottom: 20px !important; }

/*定义border基础属性*/
.b0 { border-width: 0 !important; }
.bl0 { border-left-width: 0 !important; }
.br0 { border-right-width: 0 !important; }
.bt0 { border-top-width: 0 !important; }
.bb0 { border-bottom-width: 0 !important; }
.br { border-right: 1px solid #e9e9e9;}
.bl { border-left: 1px solid #e9e9e9;}
.bt { border-top: 1px solid #e9e9e9;}
.bb { border-bottom: 1px solid #e9e9e9;}
.b, .ba { border:1px solid #e9e9e9; } /*all borders*/
.bb-dashed { border-bottom: 1px dashed #e9e9e9;}  /*虚线下边框*/

/*样式清除*/
.clear{clear:both;}
.display-inherit{display: inherit;}

/*字体加粗*/
.strong{font-weight: 600}

/*清除浮动*/
.float-none{float: none;}

/*浮动*/
.fl{float: left;}
.fr{float: right;}

/*鼠标手型*/
.cursor{cursor: pointer;}

/*背景色*/
.bg-white{background-color: #ffffff;}
.bg-light-gray{background-color: #fbfbfb;}

/*信息位置*/
.text-center{text-align: center;}

/*文字大小*/
.font12{font-size: 12px}
.font14{font-size: 14px}
.font16{font-size: 16px}
.font18{font-size: 18px}
.font20{font-size: 20px}
.font22{font-size: 22px}
.font24{font-size: 24px}
.font26{font-size: 26px}
.font28{font-size: 28px}
.font30{font-size: 30px}

/*宽度定义（百分比）*/
.w1{width: 1%}
.w2{width: 2%}
.w3{width: 3%}
.w4{width: 4%}
.w5{width: 5%}
.w6{width: 6%}
.w7{width: 7%}
.w8{width: 8%}
.w9{width: 9%}
.w10{width: 10%}
.w11{width: 11%}
.w12{width: 12%}
.w13{width: 13%}
.w14{width: 14%}
.w15{width: 15%}
.w16{width: 16%}
.w17{width: 17%}
.w18{width: 18%}
.w19{width: 19%}
.w20{width: 20%}
.w21{width: 21%}
.w22{width: 22%}
.w23{width: 23%}
.w24{width: 24%}
.w25{width: 25%}
.w26{width: 26%}
.w27{width: 27%}
.w28{width: 28%}
.w29{width: 29%}
.w30{width: 30%}
.w31{width: 31%}
.w32{width: 32%}
.w33{width: 33%}
.w34{width: 34%}
.w35{width: 35%}
.w36{width: 36%}
.w37{width: 37%}
.w38{width: 38%}
.w39{width: 39%}
.w40{width: 40%}
.w41{width: 41%}
.w42{width: 42%}
.w43{width: 43%}
.w44{width: 44%}
.w45{width: 45%}
.w46{width: 46%}
.w47{width: 47%}
.w48{width: 48%}
.w49{width: 49%}
.w50{width: 50%}
.w51{width: 51%}
.w52{width: 52%}
.w53{width: 53%}
.w54{width: 54%}
.w55{width: 55%}
.w56{width: 56%}
.w57{width: 57%}
.w58{width: 58%}
.w59{width: 59%}
.w60{width: 60%}
.w61{width: 61%}
.w62{width: 62%}
.w63{width: 63%}
.w64{width: 64%}
.w65{width: 65%}
.w66{width: 66%}
.w67{width: 67%}
.w68{width: 68%}
.w69{width: 69%}
.w70{width: 70%}
.w71{width: 71%}
.w72{width: 72%}
.w73{width: 73%}
.w74{width: 74%}
.w75{width: 75%}
.w76{width: 76%}
.w77{width: 77%}
.w78{width: 78%}
.w79{width: 79%}
.w80{width: 80%}
.w81{width: 81%}
.w82{width: 82%}
.w83{width: 83%}
.w84{width: 84%}
.w85{width: 85%}
.w86{width: 86%}
.w87{width: 87%}
.w88{width: 88%}
.w89{width: 89%}
.w90{width: 90%}
.w91{width: 91%}
.w92{width: 92%}
.w93{width: 93%}
.w94{width: 94%}
.w95{width: 95%}
.w96{width: 96%}
.w97{width: 97%}
.w98{width: 98%}
.w99{width: 99%}
.w100{width: 100%}

/*高度定义*/
.h100{
  height: 100%;
}
