<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicode.project.dao.mapper.ProjectRepositoryAccountMapper">
    <resultMap id="rs_base" type="com.aicode.project.entity.ProjectRepositoryAccount">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="projectCode" column="projectCode"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="home" column="home"/>
        <result property="description" column="description"/>
        <result property="state" column="state"/>
        <result property="type" column="type"/>
    </resultMap>


    <sql id="columns">
    id,code,projectCode,account,password,home,description,state,`type`
    </sql>

    <sql id="where">
        <where>
            <if test="id!=null and id!=''">
                AND id = #{id}
            </if>
            <if test="code!=null and code!=''">
                AND code = #{code}
            </if>
            <if test="projectCode!=null and projectCode!=''">
                AND projectCode = #{projectCode}
            </if>
            <if test="account!=null and account!=''">
                AND account = #{account}
            </if>
            <if test="password!=null and password!=''">
                AND password = #{password}
            </if>
            <if test="home!=null and home!=''">
                AND home = #{home}
            </if>
            <if test="description!=null and description!=''">
                AND description = #{description}
            </if>
            <if test="state!=null and state!=''">
                AND state = #{state}
            </if>
            <if test="type!=null and type!=''">
                AND type = #{type}
            </if>
        </where>
    </sql>

</mapper>
