<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicode.project.dao.mapper.ProjectFramworkMapper">
    <resultMap id="rs_base" type="com.aicode.project.entity.ProjectFramwork">
        <result property="id" column="id"/>
        <result property="frameworkCode" column="frameworkCode"/>
        <result property="projectCode" column="projectCode"/>
    </resultMap>


    <sql id="columns">
    id,frameworkCode,projectCode
    </sql>

    <sql id="where">
        <where>
            <if test="id!=null and id!=''">
                AND id = #{id}
            </if>
            <if test="frameworkCode!=null and frameworkCode!=''">
                AND frameworkCode = #{frameworkCode}
            </if>
            <if test="projectCode!=null and projectCode!=''">
                AND projectCode = #{projectCode}
            </if>
        </where>
    </sql>

</mapper>
