// START Off Sidebar (right)
nav
  tabset(justified="true")
    tab
      tab-heading 
        em.icon-equalizer.fa-lg
      div(ng-include="'app/views/partials/offsidebar-tab1.html'")

    tab
      tab-heading
        em.icon-users.fa-lg
      div
        div(ng-include="'app/views/partials/offsidebar-tab2.html'")

// END Off Sidebar (right)