<!-- START 添加数据字典类型信息-->
<div class="panel panel-default ng-scope" ng-controller="viewjobController">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p class="lead bb">详情查看</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">作业：</div>
                        <div class="col-sm-4 mt">
                            <strong>{{job.jobName}}</strong>
                        </div>
                        <div class="col-sm-2 control-label">分组：</div>
                        <div class="col-sm-4 mt">
                            <strong>{{job.jobGroup}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">类名：</div>
                        <div class="col-sm-10 mt">
                            <strong>{{job.jobClassName}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">调度名：</div>
                        <div class="col-sm-10 mt">
                            <strong>{{job.schedName}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">持久化：</div>
                        <div class="col-sm-4 mt">
                            <strong>{{job.isDurable}}</strong>
                        </div>
                        <div class="col-sm-2 control-label">连续性：</div>
                        <div class="col-sm-4 mt">
                            <strong>{{job.isNonconcurrent}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注：</div>
                        <div class="col-lg-10">
                            <script type="text/ng-template" id="ng-wig/views/ng-wig.html">
                                <div class="ng-wig">
                                    <div class="nw-editor">
                                        <iframe scrolling="{{ autoexpand ? 'no' : 'yes' }}" frameBorder="0" ng-hide="editMode" ng-model="content" ng-wig-editable="" class="nw-editor__res"></iframe>
                                    </div>
                                </div>
                            </script>
                            <textarea ng-wig="job.description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10" >
                    <span ng-include="'app/views/base/to_remove.html'"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END 添加数据字典类型信息-->

