<div class="page-body">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="app/img/assets/css/reset.css">
   <link rel="stylesheet" href="app/img/assets/css/supersized.css">
   <link rel="stylesheet" href="app/img/assets/css/style.css">
   <div class="page-container"  ng-controller="LockFormController">
      <h1 class="text-danger">修改密码</h1>
      <form role="form" ng-submit="lock()" name="lockForm" novalidate="" >
         <div id="authMsg" class="text-danger"></div>
         <input type="password" class="input"  name="oldpassword"  ng-model="oldpassword" autocomplete="off"  required class="username" placeholder="请输入旧密码">
         <input type="password" class="input"  name="newpassword1" ng-model="newpassword1"autocomplete="off"    required class="password" placeholder="请输入新密码">
         <input type="password" class="input"  name="newpassword2" ng-model="newpassword2"autocomplete="off"    required class="password" placeholder="请输入确认密码">
         <button type="submit" class="button button-lock">修改密码</button>
         <button type="button" class="button button-login" onclick="location.href='#/page/index';">返回系统</button>
         <div class="error"><span>+</span></div>
      </form>
      <div class="connect">
         <p><span ng-bind="app.description"></span></p>
         <p>Copyright &copy;  <span ng-bind="app.name"></span></p>
      </div>
   </div>
   <!-- Javascript -->
   <script src="app/img/assets/js/supersized.3.2.7.min.js"></script>
   <script src="app/img/assets/js/supersized-init.js"></script>
</div>
