<!-- 全局顶部模块 begin-->
<nav role="navigation" class="navbar topnavbar">
   <!-- logo begin-->
   <div class="navbar-header">
      <a href="#/page/index" class="navbar-brand">
         <div class="brand-logo">
            <img src="app/img/logo.png" alt="App Logo" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="app/img/logo-single.png" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>
   <!-- logo end-->
   <!-- 顶部信息 begin -->
   <div class="nav-wrapper">
      <!--&lt;!&ndash; 顶部导航 左 begin &ndash;&gt;-->
      <div class="nav navbar-nav zhls-navbar">
      </div>
      <!-- 顶部导航 左 end -->
      <!-- 顶部导航 右  begin -->
      <ul class="nav navbar-nav navbar-right">

         <li>
            <!-- pc端显示和隐藏导航栏 -->
            <a ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
               <em class="fa fa-navicon"></em>
            </a>
            <!-- 移动设备上显示和隐藏导航栏 -->
            <a toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>

         <!--全屏展示 begin-->
         <li class="visible-lg">
            <a href="#" toggle-fullscreen="toggle-fullscreen">
               <em class="fa fa-expand"></em>
            </a>
         </li>
         <!--全屏展示 end-->
         <!-- 扩展功能 begin-->
         <li>
            <a toggle-state="offsidebar-open" no-persist="no-persist">
               <em class="icon-notebook"></em>
            </a>
         </li>
         <!-- 扩展功能 end-->
         <!-- START lock screen-->
         <!--<li>-->
            <!--<a ui-sref="page.lock" title="修改密码">-->
               <!--<em class="icon-lock"></em>-->
            <!--</a>-->
         <!--</li>-->
         <!-- END lock screen-->

         <!-- 扩展功能 begin-->
         <li>
            <a ng-click="logout()" title="退出登陆">
               <em class="fa fa-power-off"></em>
            </a>
         </li>
         <!-- 扩展功能 end-->
      </ul>
      <!-- 顶部导航 右  end -->
   </div>
   <!-- 顶部信息 end-->
   <!-- 搜索框 begin-->
   <form role="search" action="search.html" class="navbar-form">
      <div class="form-group has-feedback">
         <input type="text" placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}" class="form-control" />
         <div search-dismiss="search-dismiss" class="fa fa-times form-control-feedback"></div>
      </div>
      <button type="submit" class="hidden btn btn-default">Submit</button>
   </form>
   <!-- 搜索框 end -->
</nav>
<!-- 全局顶部模块 end-->