<div ng-hide="$state.is('app.mailbox.compose')" class="clearfix">
    <button type="button" ng-click="mailboxMenuCollapsed = !mailboxMenuCollapsed"
            ng-init="mailboxMenuCollapsed = true" class="btn btn-sm btn-default mb-toggle-button pull-right mb">
        <em class="fa fa-bars fa-fw fa-lg"></em>{{all_info}}
    </button>
</div>

<div collapse="mailboxMenuCollapsed" class="mb-boxes">
    <div class="panel panel-default">
        <div class="panel-body" id="treePanelId">
            <span ng-if="doing_async">加载中...</span>
            <span ng-if="show_all_info">
                <div><h4 ng-click="showAllInfo()">{{all_info}}</h4></div>
                <hr class="mt mb"/>
            </span>
            <abn-tree tree-data="treeInfos" on-select="my_tree_handler(branch)" expand-level="1" ></abn-tree>
        </div>
    </div>
</div>
