<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~                        http://www.aicode.io
  ~
  ~
  ~        本代码仅用于AI-Code.
  ~
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--
    自动扫描controller包下的所有类，如果@Controller注入为bean
    并将bean依赖注入，即dubbo服务端暴露的Service注入到Controller中
    -->

    <context:annotation-config/>
    <context:component-scan base-package="com"/>
    <!-- 导入数据源配置 -->
    <import resource="classpath:/framework/spring-datasource.xml"/>
    <!-- 导入mybatis配置 -->
    <import resource="classpath:/framework/spring-mybatis.xml"/>
    <!-- 导入jdbctemplate配置 -->
    <import resource="classpath:/framework/spring-jdbctemplate.xml"/>
    <!--导入uid配置-->
    <import resource="classpath:framework/spring-uid.xml"/>

</beans>