<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~                        http://www.aicode.io
  ~
  ~
  ~        本代码仅用于AI-Code.
  ~
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <!--重写quartz的job工厂类完成spring的自动注入-->
    <bean id="jobFactory" class="com.aicode.base.core.JobFactory"/>
    <!--quartz调度管理工厂bean注入-->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--数据源支持持久化-->
        <property name="dataSource" ref="dataSource"/>
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey"/>
        <!--重写默认job工厂类-->
        <property name="jobFactory" ref="jobFactory"/>
        <!--任务启动项目后自动开始-->
        <property name="autoStartup" value="true"/>
        <!--设置配置文件位置-->
        <property name="configLocation" value="classpath:quartz.properties"/>
    </bean>
</beans>