<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright (c) 2017. 郑州仁中和科技有限公司.保留所有权利.
  ~                        http://www.rzhkj.com/
  ~        郑州仁中和科技有限公司保留所有代码著作权.如有任何疑问请访问官方网站与我们联系.
  ~        代码只针对特定客户使用，不得在未经允许或授权的情况下对外传播扩散.恶意传播者，法律后果自行承担.
  ~        本代码仅用于AI-Code.
  ~
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <!--重写quartz的job工厂类完成spring的自动注入-->
    <bean id="jobFactory" class="com.aicode.base.core.JobFactory"/>
    <!--quartz调度管理工厂bean注入-->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--数据源支持持久化-->
        <property name="dataSource" ref="dataSource"/>
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey"/>
        <!--重写默认job工厂类-->
        <property name="jobFactory" ref="jobFactory"/>
        <!--任务启动项目后自动开始-->
        <property name="autoStartup" value="true"/>
        <!--设置配置文件位置-->
        <property name="configLocation" value="classpath:quartz.properties"/>
    </bean>
</beans>